html{background-color: #e1afd1;
color: #5a1bacd6;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
}
h1{
    color: #7469b6;
    background-color: #2e0649c5;
    text-align: center;
    font-size: 40px;
}
h2{
    color: #7469b6;
    font-size: 30px;
}
H3{
    color: #7469b6;
    background-color: #2e0649c5;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
h4{
    color: #7469b6;
    font-size: 20px;
   
}
#meet{text-align: center;
font-size: 22px;
background-color: #2e0649c5;
}
h5{
    color: #7469b6;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    background-color: #2e0649c5;
    text-align: center;
}
p{
    color: #5a1bacd6;
}
br
{font-weight: 20;
font-size: 10px;
}
.href{
    background-color: #2e0649c5;
   font-size: 20px;
   text-align: center;
}
